body {
    background-image: url("../images/bg.jpg");
    background-size: 100%;
}

.row {
    height: 152px;
    position: relative;
}

.cashDesk {
    display: inline-block;
    position: relative;

}

.cashDesk img {
    position: static;
}

.cashDesk span {
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 125px;
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    border-radius: 30px;

    /* Оформление текста */
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.men {
    display: inline-block;
    position: relative;
}

.men span {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: -2px;
    width: 25px; /* Ширина кнопки */
    height: 25px; /* Высота */
    border-radius: 30px;

    /* Оформление текста */
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    /* Фон */
    background-color: rgba(0, 0, 0, .0);
    padding: 10px 30px;

}

.woman {
    display: inline-block;
    position: relative;
}

.woman span {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: 27px;
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота */
    border-radius: 30px;

    /* Оформление текста */
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.child {
    display: inline-block;
    position: relative;
}

.child span {
    display: inline-block;
    position: absolute;
    top: 45px;
    left: -17px;
    width: 60px; /* Ширина кнопки */
    height: 60px; /* Высота */
    border-radius: 30px;

    /* Оформление текста */
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    /* Фон */
    background-color: rgba(0, 0, 0, .0);
    padding: 10px 30px;
}

ul li {
    display: inline;

}

ul {
    font-size: 0;
}

input {
    text-align: right;
    padding-right: 0%;
!important;
}

